<html>
<head>
    <title>首页</title>
</head>

<body>
<!--顶部搜索-->
<%- include('../../component/homepage/top_search.ejs')%>

<!--banner轮播-->

<%- include('../../component/homepage/banner.ejs')%>

<!--头条-->
<%- include('../../component/homepage/new.ejs')%>

<!--售卖商品-->

<%- include('../../component/homepage/product_list/main.ejs')%>

<!--活动banner-->
<%- include('../../component/homepage/banner_active.ejs')%>

<!--开通门店-->

<%- include('../../component/homepage/open_store.ejs')%>

<!--地址选择-->
<%- include('../../component/homepage/address_box.ejs')%>


<%- include('../../component/basic/address.ejs')%>



<p class="certificate_tips">互联网药品交易服务资格证书：京C2016888</p>





<footer class="bottom_tabbar">
    <div class="tab_box"></div>
    <div class="bottom_tabbar_contain yao_alignment_center">
        <a class="current_page">
            <div class="tabbar_icon">
                <img src="../../icon/icon_mian_home_green.png">

            </div>
            <p>首页</p>
        </a>
        <a href="../active/active_page.html">
            <div class="tabbar_icon">
                <img src="../../icon/icon_main_active_green.png">

            </div>
            <p>活动</p>
        </a>
        <a  href="../shopping_cart/shopping_cart_main.html">
            <div class="tabbar_icon">
                <img src="../../icon/icon_main_shopping_green.png">
            </div>
            <p>购物车</p>
        </a>
        <a href="../person_center/person_main_login.html">
            <div class="tabbar_icon"><img src="../../icon/icon_main_individual_green.png">
                <p>个人中心</p>
            </div>
        </a>
    </div>
</footer>

</body>
</html>