<div class="main_product">

    <%- include('sale.ejs')%>

    <%- include('normal.ejs')%>

    <%- include('pro_list.ejs')%>

    <%- include('hot_sale.ejs')%>

    <%- include('brand_list.ejs')%>


    </div>